.Player {
    background-color: #262425;
    /*background-color: black;*/
    padding: 0;
    color: #ebe9eb;
    cursor: default;
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.Player-info {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.Player a {
    color: lightgreen;
}

.Player .Player-image {
    width: min(300px, 100vh - 64px);
    height: min(300px, 100vh - 64px);
}

.Player-controls {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

.Player-detailsDescription {
    padding: 12px;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.Player-detailsDescription p:first-child {
    margin-top: 0;
}

.Player-detailsDescription *:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 600px) {
    .Player {
        max-height: calc(100vh - 64px);
    }

    .Player-info {
        flex-direction: column;
    }

    .Player .Player-image {
        width: 100vw;
        height: 100vw;
    }
}


/*
.Player video {
    width: 300px;
    height: 300px;
    background-color: black;
}

.Player .AudioPlayer {
    margin-top: 12px;
    height: 50px;
}

.Player-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Player-detailsDescription {
    min-height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    overflow-y: scroll;
}


@media screen and (max-width: 750px) {
    .Player-details {
        width: auto;
    }

    .Player .Player-image {
        width: 100vw;
        height: 80vw;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .Player {
        flex-direction: column;
        padding: 0;
        height: calc(300px + 64px + 360px);
    }

    .Player .AudioPlayer {
        margin-top: 12px;
        margin-bottom: 12px;
        order: -1;
    }

    .Player-detailsDescription {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 600px) {
    .Player .Player-image {
        width: 100vw;
        height: 100vw;
    }
}
*/