.Player {
    background-color: #1a181a;
    /*background-color: #262425;*/
    /*background-color: black;*/
    padding: 0;
    color: #ebe9eb;
    cursor: default;
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.Player-info {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.Player a {
    color: lightgreen;
}

.Player .Player-image {
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
    padding-bottom: 4px;
    transform: perspective(45em)rotateY(30deg);
    margin-top: min(calc(100vh / 9), 200px);
    width: min(200px, 100vh - 64px);
    height: min(200px, 100vh - 64px);
}

.Player-controls {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

.Player-detailsDescription {
    padding: 12px;
    max-height: calc(100vh - 80px);
    overflow-y: scroll;
    overflow-x: hidden;
    line-height: 150%;
    margin-bottom: 64px;
}

.Player-detailsDescription p:first-child {
    margin-top: 0;
}

.Player-detailsDescription p:last-child {
    margin-bottom: 0;
}

.Player-detailsDescription h1 {
    font-size: 20px;
    margin-bottom: 12px;
}

@media screen and (max-width: 500px) {
    .Player {
        max-height: calc(100vh - 64px);
    }

    .Player-info {
        flex-direction: column;
    }

    .Player .Player-image {
        -webkit-box-reflect: none;
        padding-bottom: 4px;
        transform: none;
        margin-top: 0;
        width: 100vw;
        height: min(calc(100vh * 1 / 2), 100vw);
        object-fit: cover;
        object-position: center;
    }
}

@media screen and (max-width: 600px) and (orientation: landscape) {

    .Player-info {
        flex-direction: row;
    }

    .Player .Player-image {
        width: min(calc(100vh * 1 / 4), 100vw);
        height: min(calc(100vh * 1 / 4), 100vw);
    }
}

@media screen and (min-width: 700px) and (min-height: 400px) {
    .Player .Player-image {
        margin-left: 50px;
        width: min(300px, 100vh - 64px);
        height: min(300px, 100vh - 64px);
    }
    .Player-detailsDescription {
        padding-right: 40px;
    }
}
