.EpisodeMedia {
    background-color: #262425;
    padding: 12px;
    margin-bottom: 12px;
    color: #ebe9eb;
    cursor: default;
    margin-left: 12px;
    margin-right: 12px;
}

.EpisodeMedia {
    height: 300px;
    overflow-y: scroll;
    transition: height 0.5s;
}

.EpisodeMedia.EpisodeMedia-closed {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.EpisodeMedia a {
    color: lightgreen;
}

.EpisodeMedia img {
    width: 300px;
    height: 300px;
}

.EpisodeMedia video {
    width: 300px;
    height: 300px;
    background-color: black;
}

.EpisodeMedia audio {
    margin-top: 12px;
    width: calc(100vw - 300px - 128px);
    height: 50px;
}

.EpisodeMedia {
    display: flex;
    flex-direction: row;
}

.EpisodeMedia-details {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    margin-right: 12px;
}

.EpisodeMedia-detailsDescription {
    min-height: 236px;
    max-height: 236px;
    overflow-y: scroll;
}

.EpisodeMedia-detailsDescription p:first-child {
    margin-top: 0;
}

@media screen and (max-width: 900px) {
    .EpisodeMedia audio {
        width: calc(100vw - 300px - 96px);
    }
}

@media screen and (max-width: 600px) {
    .EpisodeMedia img {
        width: 100vw;
        height: 100vw;
    }

    .EpisodeMedia {
        flex-direction: column;
        padding: 0;
        margin-left: 12px;
        margin-right: 12px;
        height: 850px;
    }

    .EpisodeMedia audio {
        margin-top: 12px;
        margin-bottom: 12px;
        width: calc(100vw - 48px);
        order: -1;
    }

    .EpisodeMedia-detailsDescription {
        /*min-height: 248px;*/
        /*max-height: 248px;*/
        margin-bottom: 24px;
    }
}