.Episode {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: #ebe9eb;
    border-top-color: #534d53;
    border-top-style: solid;
    border-top-width: 1px;
}

.Episode:first-child {
    border-top-style: none;
}

.Episode-details {
    background-color: #1b191b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
}

.Episode-title {
    font-weight: bold;
}

.Episode-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0;
}

.Episode-detailsText {
    max-width: calc(100vw - 200px);
}

.Episode-detailsFile {
    font-size: 60%;
    display: table;
    max-width: 200px;
}

.Episode-detailsFileField {
    display: table-row;
}

.Episode-detailsFileField .Episode-detailsFileFieldValue, .Episode-detailsFileField strong {
    display: table-cell;
}

.Episode-detailsFileField strong {
    text-align: right;
}

@media screen and (max-width: 900px) {
    .Episode-detailsText {
        max-width: calc(100vw - 60px);
    }

    .Episode-detailsFile {
        display: none;
    }
}
