body {
    background-color: black;
    color: #ebe9eb;
    scrollbar-color: #7d7679 #262425;
}

::-webkit-scrollbar {
    background: #262425;
}

::-webkit-scrollbar-thumb {
    background: #7d7679;
    -webkit-border-radius: 1ex;
}

.App {
    margin: 32px;
}

@media screen and (max-width: 900px) {
    .App {
        margin: 16px;
    }
}

@media screen and (max-width: 600px) {
    .App {
        margin: 0;
    }
}